/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cont {
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #007bff;
}

section {
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

a {
    color: #0077b5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.cont a{
    color:burlywood;
}